body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px; 
    line-height: 24px; 
    letter-spacing: 0.02em; 
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    font-size: 12px; 
    line-height: 16px; 
    letter-spacing: 0.04em; 
}

ul, ol {
    list-style-type: none;
}

.logo-one{
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
    font-size: 56px;
    letter-spacing: 0.02em; 
    line-height: 1.07;
    text-align:center;
    color: #ffffff;
}

.button{
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    cursor: pointer;
    background-color: #4D5AE5 ;
    color: #ffffff;
}

.button:hover {
    background-color: #404BBF; 
  }
  
.button:focus {
    background-color:  #404BBF;
  }

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

span{
    color: #2e2f42;
}

.studio{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.studio:hover {
    color: #404bbf; 
  }
  
.studio:focus {
    color: #404bbf;
  }

  .Contacts{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

.Contacts:hover {
    color: #404bbf; 
  }
  
.Contacts:focus {
    color: #404bbf;
  }

.ad-inf{
    font-style: normal;
  }

.gmail{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.gmail:hover {
    color: #404bbf; 
  }
  
.gmail:focus {
    color: #404bbf;
  }

  .phones{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.phones:hover {
    color: #404bbf; 
  }
  
.phones:focus {
    color: #404bbf;
  }

  .servicess{
    background-color: #2e2f42;
  }

  .strategy_item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .goal{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

    .punctuality_item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .key{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .diligence_item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .brands{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .technologies_item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .Design{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .team{
    background-color: #F4F4FD;
  }

  .our-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
  }

  .idn{
    background-color: #FFFFFF;
  }

  .mark{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .products{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
  }

  .portfolio{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }

  .app{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .footer{
    background-color: #2e2f42;
  }

  .spann{
    color: #f4f4fd ;
  }

  .texxt{
    color: #F4F4FD;
  }